/* UTILITY CLASSES */
.offscreen{
    position: absolute;
    left: -11111px;
}

.hidden{
    display:none;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --PAGE-MIN-MARGIN: 1rem;
}

body{
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
}

input, textarea{
    font:inherit;
    padding: 0.25rem 0.5rem;
}

img{
    display: block;
}

section {
    margin: 1rem var(--PAGE-MIN-MARGIN);
}

.btn{
    font:inherit;
    background-color: burlywood;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    /* color: whitesmoke; */

}

/* .btn:hover, .btn:focus{
    background-color: rgb(224, 196, 160);
} */

.btn:active{
    background-color: rgb(227, 178, 115);
}

.btn--fullwidth{
    width: 100%;
}


#header{
    height:3rem;
    width: 100%;
    background-color: #333;
    color: whitesmoke;
    font-size: clamp(1.4rem, 3vh, 2rem);
    /* font-size: 2rem; */
    padding-inline: var(--PAGE-MIN-MARGIN);
    display:flex;
    /* justify-content: space-between; */
    gap: 0.5rem;
    align-items: center;
}

#header .main-logo{
    height: 2rem;
    width: 2rem;
    margin-bottom: 5px;
}

#header .main-logo img{
    height: 100%;
    width: 100%;
}

/* #header p{ */
    /* margin-left: var(--PAGE-MIN-MARGIN); */
/* } */

#header .monospace-para{
    font-family: monospace;
}

/* PLANT-NAME */
#plant-name{
    padding: 1rem 0 2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-flow: row wrap;
    border-bottom: 2px solid #333;
}

#plant-name label{
    text-transform: uppercase;
    font-weight: bold;
}

#plant-name label span{
    font-family: monospace;
}

#plant-name input{
    font:inherit;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
}

/* ROWs */
/* #rows{
    border-bottom: 3px dashed #333;
} */

#rows .input-rows{
    background-color: rgb(250, 229, 202);
    margin: 0.5rem 0;
    padding: 0.5rem;
}

#rows .input-row{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(249, 242, 232);
}

#rows .row-field-name{
    flex-basis: 350px;
    flex-grow: 1;
}

#rows .row-field-value{
    flex-basis: 350px;
    flex-grow: 1;
}


#rows .row-field-name{
    text-transform: uppercase;
    font: inherit;
    /* padding-inline: 0.5rem; */
}

#rows .row-field-value{
    /* font: inhert; */
    font-size: inherit;
    font-family: inherit;
    /* padding-inline: 0.5rem; */
}

/* PLANT-IMAGES */
#plant-images{
    padding: 1rem 0;
}

#plant-images .files{
    margin: 1rem 0;
}

#plant-images .file-inp{
    margin: 0.5rem 0;
}


/* FILENAME */
#filename {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    flex-flow: row wrap;
}

#filename label{
    font-weight: bold;
    text-transform: capitalize;
}

#filename div{
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    max-width: 400px;
}

#filename input{
    flex-grow: 1;
    width: 100px;
}

#filename div p{
    display: inline;
}

/* FOOTER */
footer{
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: whitesmoke;
}


@media screen and (min-width: 981px){
    
    .btn:hover, .btn:focus{
        background-color: rgb(222, 191, 151);
    }

    .btn:active{
        background-color: rgb(227, 178, 115);
    }
}
